body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Console", monospace;
  background-color: #e9e9ea;
  height: 100vh;
}

form {
  display: inline-block;
}

input {
  display: block;
}

.Login {
  text-align: center;
  width: 30%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.LogoutScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.Login-logo-dronhub {
  height: 80px;
}

.Login-logo-cr {
  width: 10%;
  height: 10%;
}

.Login-username, .Login-password {
  border-bottom: 1px solid red;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  text-indent: 10px;
}

.Login-submit {
  float: right;
}

.Button {
  font-family: "Lucida Console", monospace;
  background: transparent;
  border-radius: 20px;
  border: 1px solid gray;
  padding: 5px 10px 5px 10px;
  margin-top: 2%;
}

.PhotoInner a {
  text-decoration: none;
}

.App-intro {
  font-size: large;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px black;
  z-index: 100;
}

.MainMenu {
  display: flex;
  flex: 2;
}

.NavigationLink {
  text-decoration: none;
  color: gray;
  padding-left: 20px;
  padding-right: 20px;
  background: #e9e9ea;
}

.Logout {
  text-align: right;
  flex: 2;
}

.Manage {
  display: flex;
  align-items: center;
  height: 80vh;
}

.ManageMain {
  width: 80%;
  height: 100%;
}

.ContainerInfo {
  width: 20%;
  height: 100%;
}

.ManageInfo {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Info {
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 0.9vw;
  border: 1px solid black;
  border-radius: 20px;
  padding-left: 2%;
  padding-right: 2%;
  min-width: 175px;
  width: 90%;
  line-height: 0.5;
  margin-top: 2%;
}

.MainContainer {
  width: 100%;
  height: 100%;
}

.Waiting {
  height: 40vh;
  width: 40vh;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.StartMission, .EditMission, .Photo, .ScheduleMenuOuter {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 70;
}

.StartMissionInner, .PhotoInner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: auto;
  border-radius: 20px;
  background: #e9e9ea;
  transform: translate(-50%, -50%);
  text-align: center;
}

.PhotoInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.EditMissionInner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  border: 1px solid red;
  border-radius: 20px;
  background: #e9e9ea;
}

.ButtonsEditMission {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.ButtonEditMission {
  width: 80%;
  text-align: center;
  background: #e9e9ea;
  border-radius: 20px;
  border: 1px solid gray;
  padding: 5px 10px 5px 10px;
  margin-top: 2%;
}

.WeatherCheck {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 50%;
}

.WeatherPopup {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 30%;
}


.Mission {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.DronMap {
  width: 50%;
  height: 70%;
}

.LeafletMap {
  margin-top: 20%;
  position: relative;
  z-index: 1;
}

.VideoContainer {
  position: relative;
  width: 40%;
}

.Video {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.VideoButtons, .MapButtons {
  position: fixed;
  bottom: 5%;
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.ScheduleMenu {
  border: 1px solid black;
  border-radius: 20px;
  display: block;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 80;
  background-color: #e9e9ea;
  top: 2%;
}

.ScheduleMenu a {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  overflow: auto;
  display: block;
  background: none;
}

.DropdownMenu {
  border: 1px solid black;
  position: relative;
  display: inline-block;
}

.ScheduleCurrent, .MissionPlan {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CurrentMissionsTitle, .PlannedMissionsTitle , .ArchivedMissions {
  text-align: center;
}

.ArchivedMissions {
  width: 100%;
}

.CurrentMissions, .PlannedMissions , .ArchivedMissions {
  text-align: center;
  border-collapse: collapse;
}
.CurrentMissions th span, .PlannedMissions th span , .ArchivedMissions th span {
  border-bottom:1px solid red;
  font-weight: normal;
  padding-top: 12px;
  padding-bottom: 5px;
}
.CurrentMissions td, .PlannedMissions td , .ArchivedMissions td {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.PlannedMissions td:nth-child(n+3), .ArchivedMissions td:nth-child(n+3) {
    padding-left: 1px;
    padding-right: 1px;
    width: 20%;
}

.ArchivedMissions a {
  text-decoration: none;
  color: black;
}

.EditMissionInner input {
  text-align: center;
  width: 50%;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.EditMission {
}

.EditMission input::placeholder {
  font-size: 18px;
}

.PhotoDron {
  height: 90%;
  width: 90%;
}

.Canvas {
  overflow: auto;
}

.Archive {
  display: flex;
}

.ArchiveTable {
  width: 70%;
  align-items: center;
  text-align: center;
}

.Calendar {
  padding-left: 10px;
  text-align: center;
}
.ReactCalendar {
  background: #e9e9ea;
  width: 30%;
  border:1px solid black;
  border-radius: 20px;
}

.ReactCalendar button {
    background: transparent;
    border: none !important;
}

.CurrentDate {
  margin-top: 10%;
  margin-left: 15%;
  height: 15%
}

.Calendar img {
  display: block;
  margin-right: 0;
  float: right;
}

.ManageLink {
  height:100%;
  top: 0px;
  bottom: 0px;
}

.SelectedMenuItem {
  position: absolute;
    border-bottom: 2px solid red;
    pointer-events:none;
}

.InfoContent{
  display:flex;
  flex-direction:row;
}

.RightColumn {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-shrink: 0;
}

.LeftColumn {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  flex-shrink: 0;
}

.InfoTitle{
  font-size: larger;
  font-weight: bold;
}

.LeftColumn p{
  padding: 0;
  margin : 3px;
}

.RightColumn p {
  padding: 0;
  margin : 3px;
}

.Widget {
  display: inline-block;
  margin-bottom: 5%;
  position: relative;
  z-index: 20;
  border: 1px solid black;
  background: white;
}

.Widgets {
  margin-right: 1%;
  margin-left: 1%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 20%;
}

.Quaternion, .Ekf{
  width: 100%;
}


.Ekf:before, .Quaternion:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.EkfChart, .QuaternionChart {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.RollTriangle {
  position: absolute;
  z-index: 50;
  left: 50%;
  top: 29%;
  transform: translate(-50%, -50%);
}

.RollTriangleIcon {
  position: relative;
  height: 50%;
  width: 50%;
  transform: translate(50%, -50%);
}

.DroneImage {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;

}

.DroneIcon {
  position: relative;
  height: 5%;
  width: 5%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0) rotate(45deg);
  border-left: 2px solid red;
  border-top: 2px solid red;
}

.DroneLineLeft, .DroneLineRight {
  position: absolute;
  width: 10%;
  top: 50%;
  border-top: 2px solid red;
}

.DroneLineLeft {
  left: 18%;
}

.DroneLineRight{
  right: 18%;
}

.MapContainer {
  position: relative;
  width: 40%;
}

.BackgroundQuaternion {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position:relative;
  background: skyblue;
}

.Landscape {
  position: absolute;
  left: 50%;
  width: 200%;
  height: 200%;
  top: -50%;
  z-index: 0;
  transform: translate(-50%, -50%);
}

.Land, .Sky {
  position: relative;
  height: 100%;
}

.Land {
  background: lightgreen;
}

.Sky {
  background: skyblue;
}

.RadiusRuler {
  width: 50%;
  height: 50%;
  position: absolute;
  border-radius: 50%;
  border-top: 1px solid black;
  left: 50%;
  top: 50%;
  z-index: 1;
}

.HrR-60Container, .HrR-45Container,.HrR-30Container,.HrR-20Container, .HrR-10Container, .HrR0Container, .HrR10Container, .HrR20Container,.HrR30Container,.HrR45Container, .HrR60Container{
  position: absolute;
  top: -5%;
  height: 110%;
  width: 100%;
}

.HrR-60Container {
  transform: rotate(-60deg);
}
.HrR-45Container {
    transform: rotate(-45deg);
}
.HrR-30Container {
    transform: rotate(-30deg);
}
.HrR-20Container {
    transform: rotate(-20deg);
}
.HrR-10Container {
    transform: rotate(-10deg);
}
.HrR0Container {
    transform: rotate(0deg);
}
.HrR10Container {
    transform: rotate(10deg);
}
.HrR-60Container label, .HrR-45Container label,.HrR-30Container label,.HrR-20Container label, .HrR-10Container label, .HrR0Container label, .HrR10Container label, .HrR20Container label,.HrR30Container label,.HrR45Container label, .HrR60Container label {
  font-size: 40%;
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.HrR20Container {
    transform: rotate(20deg);
}
.HrR30Container {
    transform: rotate(30deg);
}
.HrR45Container {
    transform: rotate(45deg);
}
.HrR60Container {
  transform: rotate(60deg);
}

.HrR {
  position: absolute;
  margin-top: 0;
  border: none;
  border-left: 1px solid black;
  height: 5%;
  left: 50%;
  width: 1px;
  align-items: center;
}

.HrR text {
  position: absolute;
}

.HorizontalRuler {
  width: 720px;
  height: 15%;
  position: absolute;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid black;
  transform: translate(-50%, 0%);
  z-index: 1;
}

.HorizontalRuler hr {
  position: relative;
  top: 20%;
  border:         none;
  border-left:    1px solid hsla(200, 10%, 50%,100);
  height:         50%;
  width:          1px;
}
.HrH0::after {
  content: 'N';
  padding: 0 .5em;
}
.HrH15::after {
  content: '15';
}
.HrH30::after {
    content: '30';
}
.HrH45::after {
  content: '45';
}
.HrH60::after {
    content: '60';
}
.HrH75::after {
    content: '75';
}
.HrH90::after {
    content: '90';
}
.HrH105::after {
    content: '105';
}
.HrH120::after {
    content: '120';
}
.HrH135::after {
    content: '135';
}
.HrH150::after {
    content: '150';
}
.HrH165::after {
    content: '165';
}

.HrH0::after, .HrH15::after, .HrH30::after, .HrH45::after, .HrH60::after, .HrH75::after, .HrH90::after, .HrH105::after, .HrH120::after, .HrH135::after, .HrH150::after, .HrH165::after {
  font-size: small;
  position: relative;
  left:-1000%;
  top: -16px;
}


.VerticalRulerLeft, .VerticalRulerRight, .VerticalAddOnRuler {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 15%;
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  transform: translate(0, -50%);
  z-index: 1;
}

.VerticalAddOnRuler {
  left: 50%;
  position: relative;
  border: none;
  width: 50%;
  transform: translate(-50%, -50%);
}

.BackgroundRuler {
  width: 100%;
  height: 100%;
  position: relative;
}

.VerticalRulerLeft {
  left:0;
  border-right: 1px solid black;
}

.VerticalRulerRight {
  right:0;
  border-left: 1px solid black;
}

.VerticalRulerLeft hr, .VerticalRulerRight hr, .VerticalAddOnRuler hr {
  position: relative;
  border:         none;
  border-bottom: 1px;
  width:          50%;
  margin-top:5%;
  margin-bottom:5%;
}
.VerticalAddOnRuler hr {
  margin-top:4.5%;
  margin-bottom:4.5%;
}

.VerticalRulerLeft hr {
  margin-right: 0;
  text-align: right;
}
.VerticalRulerRight hr {
  margin-left: 0;
  text-align: left;
}

.HrV10::after, .HrV5::after, .HrV0::after, .HrV-5::after, .HrV-10::after {
  font-size: 40%;
  position: relative;
  top: -1000%;
}

.VerticalRulerLeft .HrV10::after,.VerticalRulerLeft .HrV5::after, .VerticalRulerLeft .HrV0::after, .VerticalRulerLeft .HrV-5::after, .VerticalRulerLeft .HrV-10::after {
  left:-120%;
}

.VerticalRulerRight .HrV10::after,.VerticalRulerRight .HrV5::after, .VerticalRulerRight .HrV0::after, .VerticalRulerRight .HrV-5::after, .VerticalRulerRight .HrV-10::after {
  left:120%;
}

.HrV10::after {
  content: '10';
}

.HrV5::after {
  content: '5';
}

.HrV0::after {
  content: '0';
}
.HrV-5::after {
  content: '-5';
}
.HrV-10::after {
  content: '-10';
}

hr {
  border: 0;
  clear:both;
  background-color:black;
  height: 1px;
}

.HrShort {
  width: 10%
}

.HrLong10, .HrLong5, .HrLong0 {
  width: 20%
}

.HrLong10::after, .HrLong5::after, .HrLong0::after {
  font-size: 40%;
  position: relative;
  left:-30%;
  top: -1000%;
}

.HrLong10::after {
  content: '10';
}
.HrLong5::after {
  content: '5';
}
.HrLong0::after {
  content: '0';
}
